body {
    padding-top: 5rem;
}

.col span.blk{
    display: block;
}

.required{
    color: red;
}

#send-btn{
    background: #2987CD;
    color: white;
    border-radius: 10px;
    width: 100px;
}

#contact_form label, span.blk{
    margin-top: 5px;
    margin-bottom: 10px;

}